@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Roboto+Mono:wght@400;500&display=swap');

.page-break {
    page-break-after: always;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-size: 11pt;
}

@page {
    margin: 1cm 1cm;
    size: A4;
}

a {
    color: #444;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 0.2cm;
    text-align: justify;
}

h2 {
    margin-bottom: 0;
}

h3 {
    margin-top: 0.5cm;
    margin-bottom: 0;
}

h4 {
    margin-top: 0;
    margin-bottom: 0.1cm;
}

